body{
  background-color: rgba(17, 15, 15, 0.952);
  color: yellow;
  font-family: serif;
  font-size: 16px;
  text-align: center;
  
}

.mainTitle{
  font-size: 45px;
  text-align: center;
}

.characterTitle{
  color: red;
}

span{
  color: rgb(58, 133, 218);
}

hr{
  border: 2px solid rgb(58, 133, 218);
}

.links{
 font-size: 18px;
 font-weight: bold;
}

.base{
  color: yellow;
}

.add{
  color: red;
}

.legend{
  font-size: 22px;
}

.border{
  border: 3px solid yellow;
  width: 34%;
  margin-left: 32%;
}

.inputs{
  background-color: blue;
  color: yellow;
  border: 3px solid yellow;
  margin: 6px;
  padding: 4px;
  font-size: 15px;
  font-family: serif;
}

.button{
  background-color: yellow;
  color: red;
  border: 2px solid red;
  font-family: serif;
  font-size: 16px;
  font-weight: bold;
}

.newDisplay{
  color: yellow;
  font-size: 16px;
  border:2px solid red;
  margin: 1%;
  padding:1%;
  width: 28%;
  margin-left: 35%;
  text-align: center;
}